# Temporary reports
tests/reports/*.json
tests/reports/dashboard.html
tests/reports/report.csv

# Local IDE and SDK properties
local.properties
.idea/
.gradle/
.kotlin/
*.log

# Build outputs
**/build/
**/bin/
**/obj/
**/out/

# Node modules (just in case)
node_modules/
